{% extends 'base.html' %} 

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Arial', sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #e7a180;
    }

    .container {
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .center-table {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    form {
        width: 800px;
        margin: 60px auto;
        justify-content: center;
        align-items: center;
        display: wrap;
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
    }

    h1 {
        margin: 20px;
        text-align: center;
        font-weight: bolder;
        text-transform: uppercase;
    }

    hr {
        border-top: 2px solid #e7a1b0;
    }

    p {
        text-align: center;
        margin: 10px;
    }

    input {
        width: 100%;
        margin: 2px;
        border: none;
        outline: none;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    button {
        border: none;
        outline: none;
        padding: 8px;
        width: 252px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        background: #d5647c;
    }

    button:hover {
        background: rgba(231, 161, 176, 1);
    }


    @media (max-width: 880px) {
        .container {
            width: 100%;
            max-width: 400px;
            margin-left: 20px;
            margin-right: 20px;
        }

        form {
            width: 600px;
            margin: 20px auto;
        }

        button {
            width: 100%;
        }
    } 

</style> 
<div class="container">
    <h1>Add New Product</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="center-table">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add Product</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}